.cardProductMore
    margin-top: 200px
    display: flex
    gap: 110px
    @media (max-width: 1182px)
        gap: 60px
    @media (max-width: 930px)
        gap: 30px
    @media (max-width: 630px)
        flex-direction: column
        align-items: center
        margin-top: 110px
    @media (max-width: 480px)
        margin-top: 65px
.info
    width: 471px
    @media (max-width: 1182px)
        width: 336px
    @media (max-width: 630px)
        margin-top: 35px
    @media (max-width: 480px)
        margin-top: 25px
        width: 100%

.name
    font-size: 36px
    font-weight: 600
    @media (max-width: 1182px)
        font-size: 25px
    @media (max-width: 480px)
        font-size: 20px
        max-width: 70%

.price
    margin-top: 10px
    color: rgba(253, 163, 196, 1)
    font-size: 42px
    font-weight: 700
    @media (max-width: 1182px)
        font-size: 35px
    @media (max-width: 480px)
        font-size: 32
.size
    margin-top: 10px
    margin-bottom: 20px
    font-style: italic
.flex
    margin-top: 10px
    display: flex
    justify-content: space-between
    h3
        padding: 7px 0
        cursor: pointer
        font-size: 20px
        border-top: solid 1px black
        border-bottom: solid 1px black
        @media (max-width: 1182px)
            font-size: 16px
    .active
        color: rgba(253, 163, 196, 1)
        border-color: rgba(253, 163, 196, 1)

.desc
    line-height: 17px
    border-bottom: 1px dotted rgba(253, 163, 196, 1)
    padding-bottom: 13px
    margin-top: 30px
    margin-bottom: 13px
    font-size: 14px
.details
    font-size: 14px
    span
        text-transform: uppercase
        font-weight: 600
.button
    width: 220px
    height: 55px
    @media (max-width: 1182px)
        width: 220px
        height: 55px
    @media (max-width: 480px)
        width: 100%

.favoriteSvg
    position: absolute
    right: 10px
    top: 10px
    display: flex
    justify-content: flex-end
    width: 26px
    @media (max-width: 1182px)
        width: 22px
    @media (max-width: 480px)
        width: 20px
    @media (max-width: 360px)
        width: 14px
    &:hover svg, &_active
        fill: var(--red)
