.newCatalog
    margin: 0 auto

    margin-top: 50px
    max-width: 1440px
    margin-bottom: 50px
    &__products
        display: flex
        justify-content: center
        margin-top: 21px

        @media (max-width: 1181px)
            :nth-child(4)
                display: none
        @media (max-width: 930px)
            :nth-child(4)
                display: block
        &_item
            @media (max-width: 930px)
                display: flexbox

    @media (max-width: 480px)

    &_button
        display: flex
        justify-content: center
        margin-top: 25px
        @media (max-width: 930px)
            margin-top: 0px
