.deliveryTerms
    margin: 0 auto
    margin-top: 70px
    margin-bottom: 95px
    display: flex
    justify-content: space-between
    align-items: center
    width: 1390px
    @media (max-width: 1182px)

    @media (max-width: 768px)

    @media (max-width: 480px)

    @media (max-width: 320px)

    &__info
        display: flex
        align-items: center
        gap: 30px
        h3
            font-size: 25px
            font-weight: 600
            margin-bottom: 10px
        p
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
    &__img3
        width: 79px
        height: 81px
        object-fit: cover
    &__img
        width: 81px
        height: 98px
        object-fit: cover
