.newColection {
  margin-top: 135px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 1182px) {
  .newColection {
    gap: 10px;
  }
}
@media (max-width: 930px) {
  .newColection {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .newColection {
    gap: 6px;
  }
}
@media (max-width: 480px) {
  .newColection {
    display: none;
  }
}
.newColection__Left, .newColection__Rigth {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1182px) {
  .newColection__Left, .newColection__Rigth {
    gap: 10px;
  }
}
@media (max-width: 930px) {
  .newColection__Left, .newColection__Rigth {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .newColection__Left, .newColection__Rigth {
    gap: 6px;
  }
}
.newColection_flex {
  display: flex;
  gap: 15px;
}
@media (max-width: 1182px) {
  .newColection_flex {
    gap: 10px;
  }
}
@media (max-width: 930px) {
  .newColection_flex {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .newColection_flex {
    gap: 6px;
  }
}
.newColection__tshirts {
  position: relative;
}
.newColection__tshirts img {
  width: 563px;
  height: 345px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1182px) {
  .newColection__tshirts img {
    width: 443px;
    height: 272px;
  }
}
@media (max-width: 930px) {
  .newColection__tshirts img {
    width: 365px;
    height: 180px;
  }
}
@media (max-width: 768px) {
  .newColection__tshirts img {
    width: 219px;
    height: 108px;
  }
}
.newColection__tshirts_button {
  position: absolute;
  left: 7%;
  bottom: 7%;
}
.newColection__downclothes {
  position: relative;
}
.newColection__downclothes img {
  width: 274px;
  height: 296px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1182px) {
  .newColection__downclothes img {
    width: 216px;
    height: 234px;
  }
}
@media (max-width: 930px) {
  .newColection__downclothes img {
    width: 177px;
    height: 154px;
  }
}
@media (max-width: 768px) {
  .newColection__downclothes img {
    width: 106px;
    height: 92px;
  }
}
.newColection__downclothes_button {
  position: absolute;
  width: 106px;
  top: 60%;
  right: 5%;
  transform: rotate(-50.81deg);
}
.newColection__upclothes {
  position: relative;
}
.newColection__upclothes img {
  width: 274px;
  height: 296px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1182px) {
  .newColection__upclothes img {
    width: 216px;
    height: 234px;
  }
}
@media (max-width: 930px) {
  .newColection__upclothes img {
    width: 177px;
    height: 154px;
  }
}
@media (max-width: 768px) {
  .newColection__upclothes img {
    width: 106px;
    height: 92px;
  }
}
.newColection__upclothes_button {
  position: absolute;
  top: 7%;
  right: 10%;
}
.newColection__dresses {
  position: relative;
}
.newColection__dresses img {
  width: 274px;
  height: 296px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1182px) {
  .newColection__dresses img {
    width: 216px;
    height: 234px;
  }
}
@media (max-width: 930px) {
  .newColection__dresses img {
    width: 177px;
    height: 154px;
  }
}
@media (max-width: 768px) {
  .newColection__dresses img {
    width: 106px;
    height: 92px;
  }
}
.newColection__dresses_button {
  width: 50px;
  position: absolute;
  bottom: 20%;
  left: 8%;
}
.newColection__suits {
  position: relative;
}
.newColection__suits img {
  width: 274px;
  height: 296px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1182px) {
  .newColection__suits img {
    width: 216px;
    height: 234px;
  }
}
@media (max-width: 930px) {
  .newColection__suits img {
    width: 177px;
    height: 154px;
  }
}
@media (max-width: 768px) {
  .newColection__suits img {
    width: 106px;
    height: 92px;
  }
}
.newColection__suits_button {
  position: absolute;
  bottom: 14%;
  right: 8%;
}
.newColection__hoodies {
  position: relative;
}
.newColection__hoodies img {
  width: 563px;
  height: 345px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1182px) {
  .newColection__hoodies img {
    width: 443px;
    height: 272px;
  }
}
@media (max-width: 930px) {
  .newColection__hoodies img {
    width: 365px;
    height: 180px;
  }
}
@media (max-width: 768px) {
  .newColection__hoodies img {
    width: 219px;
    height: 108px;
  }
}
.newColection__hoodies_button {
  position: absolute;
  transform: rotate(37.04deg);
  bottom: 14%;
  left: 8%;
}

.newColectionAdaption {
  display: none;
  margin-top: 65px;
}
@media (max-width: 480px) {
  .newColectionAdaption {
    display: block;
  }
}
.newColectionAdaption__img_big {
  width: 55%;
  height: 367px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 360px) {
  .newColectionAdaption__img_big {
    height: 182px;
  }
}
.newColectionAdaption__img_small {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 360px) {
  .newColectionAdaption__img_small {
    height: 89px;
  }
}
.newColectionAdaption__Up {
  display: flex;
  gap: 8px;
}
.newColectionAdaption__Up_Left {
  gap: 8px;
  flex-direction: column;
  display: flex;
  width: 45%;
}
.newColectionAdaption__Down {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.newColectionAdaption__Down_Rigth {
  gap: 8px;
  flex-direction: column;
  display: flex;
  width: 45%;
}/*# sourceMappingURL=newColection.module.css.map */