.catalog
    margin-top: 130px
    margin-bottom: 100px
    &_products
        width: 949px
        display: flex
        flex-wrap: wrap
        gap: 16px
    &Up
        display: flex
        align-items: end
        justify-content: space-between
        &_img
            width: 919px
            height: 200px
            object-fit: cover
    &Down
        margin-top: 60px
        display: flex
        justify-content: space-between
