.title
  color: red
  font-family: Sunday Best
  font-size: 12px
  font-weight: 400
  letter-spacing: 1px
  margin-bottom: 15px
  @media (min-width: 768px)
    font-size: 12px
    margin-bottom: 18px
  @media (min-width: 1000px)
    margin-bottom: 15px
    display: none

.list
  font-family: Montserrat
  font-size: 12px
  font-weight: 400
  color: #FFFFFF
  display: flex
  flex-direction: column
  gap: 10px

.item
  display: block
  @media (min-width: 1000px)
    display: none

li
  white-space: normal
  @media (min-width: 1000px)
    white-space: nowrap

span
  white-space: nowrap
  @media (min-width: 1000px)

.hidden
  display: none
  @media (min-width: 1000px)
    display: block

.link
  font-family: Montserrat
  font-size: 12px
  font-weight: 400
  color: #FFFFFF
  &:hover
    color: red
