.cardProduct
    position: relative
    width: 360px
    height: 530px
    padding: 5px
    cursor: pointer
    margin-bottom: 2vh
    @media (max-width: 1182px)
        width: 250px
        height: 366px
    @media (max-width: 768px)
        width: 250px
    @media (max-width: 640px)
        width: 50%
        height: 322px
    @media (max-width: 320px)
        height: 200px
    &__img
        img
            display: block
            width: 100%
            object-fit: cover
    &_line
        background: rgba(253, 163, 196, 1)
        height: 2px
        width: 97%
    &__title
        display: flex
        justify-content: space-between
        align-items: center
        margin: 15px 15px
        @media (max-width: 1182px)
            padding: 10px 10px
            margin: 5px 10px
        @media (max-width: 480px)
            margin-top: 10px
        &_name
            max-width: 60%
            font-size: 16px
            font-weight: 400
            @media (max-width: 1182px)
                font-size: 14px
            @media (max-width: 480px)
                font-size: 12px
            @media (max-width: 320px)
                font-size: 10px
                max-width: 70%

        &_price
            color: rgba(253, 163, 196, 1)
            font-size: 24px
            font-weight: 700
            @media (max-width: 1182px)
                font-size: 16px
            @media (max-width: 480px)
                font-size: 14px
            @media (max-width: 320px)
                font-size: 10px

.favoriteSvg
    position: absolute
    right: 20px
    top: 20px
    display: flex
    justify-content: flex-end
    width: 26px
    @media (max-width: 1182px)
        width: 24px
    @media (max-width: 480px)
        width: 22px
    @media (max-width: 360px)
    &:hover svg, &_active
        fill: var(--red)
        fill: var(--red)

.cardProduct.catalog
    width: 466px
    height: auto
    object-fit: cover
    @media (max-width: 1182px)
        width: 322px
        object-fit: cover
    @media (max-width: 930px)
        object-fit: cover
        width: 450px
    @media (max-width: 480px)
        width: 290px
        object-fit: cover
